{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div><a href="{{ path('home') }}">Retour à l'accueil</a></div>
    <div >{{ forum.title }}</div>
    <ul class="containerMessage">
        {% dump(messages) %}
        {% for message in messages %}
            <li>
                <div class="messageUser">
                    écrit par : {{ message.user.username }}
                </div>
                <div class="messageContent">
                    {{ message.content }}
                </div>
                <div class="messageDate">
                    écrit le : {{ message.createdAt|date("d/M/Y") }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div>
        {{ form_start(form) }}
        {{ form_row(form.content, {
            label: 'Nouveau message : '
        }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
