{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="containerHeader"><h1>Forum des kassos</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div ><a href="{{ path('admin_home') }}"> | Administration</a></div>
    {% endif %}
    <div><a href="{{ path('app_logout') }}"> | Logout</a></div>
    </div>
    <ul class="containerForm">
    {% for forum in forums %}
        <a href="{{ path('forum', { "id" : forum.id }) }}"><li>{{ forum.title }}</li></a>
    {% endfor %}
    </ul>
{% endblock %}
