{% extends 'base.html.twig' %}

{% block title %}Hello homeController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title, {
        label: 'Titre du nouveau forum : '
    }) }}
    {{ form_end(form) }}
{% endblock %}
