@import "~bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";


body {
  background-color: darkgray;
  -webkit-text-fill-color: #000000;
}

h1{
  color: black;
}

.containerForm {
  display: grid;
  justify-content: center;
  gap: 1rem;
  a{
    text-decoration: none;
  }
  li{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    list-style: none;
    height: 3rem;
    width: 80%;
    border-radius: 15px;
    border: 1px black solid;
    box-shadow: white 10px 10px 10px;
  }
}

.containerMessage {
  display: grid;
  justify-content: center;
  gap: 1rem;
  a{
    text-decoration: none;
  }
  li{
    padding: 1rem;
    display: grid;
    align-items: center;
    background-color: white;
    list-style: none;
    height: max-content;
    width: 80%;
    border-radius: 15px;
    border: 1px black solid;
    box-shadow: white 10px 10px 10px;
  }
}

.messageDate{
  text-align: end;
}

textarea{
  width: 70vw;
  height: 10vh;
}

.containerHeader{
  display: grid;
  justify-content: center;
  gap: 1rem;
  div{
    padding: 1rem;
  }

}